*
{
    margin: 0%;
    padding: 0%;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.welcome
{
    position: absolute;
    width: 1200px;
    margin-left: 250px;
    margin-top: 10px;
}
h1
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
}
.parabox
{
width: 900px;
height: 480px;
background:#000;
color: #fff;
top:250%;
left:50%;
position:absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px; 
opacity: 0.8;
}
.avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
}